body {
    background-color: #ffffff;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
  
.dashboard-container {
    display: flex;
    flex-direction: column; /* Título e botões em coluna */
    justify-content: flex-start; /* Inicia o conteúdo no topo */
    align-items: center; /* Centraliza os itens horizontalmente */
    height: 100vh; /* Garante que ocupe a altura total da tela */
    text-align: center;
    padding-top: 100px; /* Ajuste para dar espaço do topo */
}
  
h1 {
    font-size: 2rem;
    margin-bottom: 80px; /* Espaçamento entre título e botões */
    font-weight: bold;
}
  
.button-container, .button-container-secondary {
    display: flex; /* Organiza os botões horizontalmente */
    justify-content: center; /* Centraliza os botões */
    align-items: center; /* Alinha os botões verticalmente */
    gap: 20px; /* Espaçamento entre os botões */
    padding: 20px;
}
  
  button {
    width: 200px; /* Largura fixa para todos os botões */
    height: 200px; /* Altura fixa para todos os botões */
    background: none; /* Remove o fundo */
    border: none; /* Remove a borda */
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Altere para a cor desejada */
    cursor: pointer; /* Adiciona o ponteiro para indicar que é clicável */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px; /* Adiciona mais espaçamento interno aos botões */
    font-size: 14px;
    transition: all 0.3s ease; /* Transição suave para o efeito de hover */
  }

  /* Estilo para o texto (span) dentro do botão */
button span {
    display: inline-block; /* Permite a aplicação de borda no texto */
    padding: 5px 10px; /* Adiciona espaçamento ao redor do texto */
    border: 2px solid #0056b3; /* Borda preta em torno do texto */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #0056b3; /* Cor de fundo inicial (cor clara) */
    transition: background-color 0.3s ease; /* Transição suave para a mudança de cor de fundo */
}

  
  button:hover {
    color: black; /* Efeito de hover - muda a cor */
    transform: translateY(-5px); /* Move o botão para cima ao passar o mouse */
    
  }
  
  button img {
    width: 100px; /* Ajuste o tamanho do ícone */
    height: 100px;
    margin-bottom: 5px;
  }
  
  .logout-button {
    width: 80px; /* Largura fixa para todos os botões */
    height: 80px; /* Altura fixa para todos os botões */
    position: absolute;
    top: 10px; /* Distância do topo */
    right: 10px; /* Distância da direita */
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .logout-button img {
    width: 50px; /* Ajuste o tamanho do ícone */
    height: 50px;
    margin-bottom: 5px;
  }

    
  .logout-button:hover {
    color: red; /* Efeito de hover - muda a cor */ 
    background-color: #ffffff;
    transform: none;
    box-shadow: none;
    
  }

  @media screen and (max-width: 1086px){
    .dashboard-container {
    padding: 20px; 
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 30px;
      padding: 80px;
    }

    .button-container {
      gap: 0px;
    }

    button {
      max-width: 150px;
      font-size: 12px;
      padding: 5px 10px;
    }

    button img {
      width: 40px;
      height: 40px;
    }

    .logout-button {
      right: 5px;
    }

  }